<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>talk to me</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "foundation.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "base.css" %}">
    <script type="text/javascript" src="{% static "base.js" %}"></script>
    <script type="text/javascript" src="{% static "trianglify.min.js" %}"></script>

    {% block head %}
    {% endblock %}

  </head>

  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>